In [160]:
import pandas as pd
data = pd.read_csv('/home/youx/youxlab-treino-git/aulas_dados/datasets/GasPricesinBrazil_2004-2019.csv', sep=';')
data.head()

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004

In [161]:
data

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106818,106818,2019-06-23,2019-06-29,NORDESTE,RIO GRANDE DO NORTE,GNV,7,R$/m3,3.574,0.065,...,3.690,0.818,0.018,2.756,0,2.756,2.756,0,6,2019
106819,106819,2019-06-23,2019-06-29,SUL,RIO GRANDE DO SUL,GNV,23,R$/m3,3.401,0.129,...,3.789,0.95,0.038,2.451,0.402,1.9842,2.8661,0.164,6,2019
106820,106820,2019-06-23,2019-06-29,SUL,SANTA CATARINA,GNV,24,R$/m3,2.912,0.190,...,3.499,0.914,0.065,1.998,0,1.9981,1.9981,0,6,2019
106821,106821,2019-06-23,2019-06-29,SUDESTE,SAO PAULO,GNV,52,R$/m3,3.020,0.229,...,3.490,0.646,0.076,2.374,0.165,2.0179,2.5093,0.07,6,2019
106822,106822,2019-06-23,2019-06-29,NORDESTE,SERGIPE,GNV,4,R$/m3,3.697,0.005,...,3.699,1.179,0.001,2.518,0,2.5175,2.5175,0,6,2019

In [162]:
data.query('ANO != 2019')

,Unnamed: 0,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,...,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,MÊS,ANO
0,0,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,ETANOL HIDRATADO,127,R$/l,1.288,0.016,...,1.350,0.463,0.012,0.825,0.11,0.4201,0.9666,0.133,5,2004
1,1,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,ETANOL HIDRATADO,387,R$/l,1.162,0.114,...,1.449,0.399,0.098,0.763,0.088,0.5013,1.05,0.115,5,2004
2,2,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,ETANOL HIDRATADO,192,R$/l,1.389,0.097,...,1.760,0.419,0.070,0.97,0.095,0.5614,1.161,0.098,5,2004
3,3,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,ETANOL HIDRATADO,162,R$/l,1.262,0.070,...,1.509,0.432,0.055,0.83,0.119,0.5991,1.22242,0.143,5,2004
4,4,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,ETANOL HIDRATADO,103,R$/l,1.181,0.078,...,1.400,0.24,0.066,0.941,0.077,0.7441,1.0317,0.082,5,2004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103064,103064,2018-12-30,2019-01-05,NORDESTE,RIO GRANDE DO NORTE,GNV,10,R$/m3,3.465,0.060,...,3.590,0.759,0.017,2.706,0,2.7059,2.7059,0,12,2018
103065,103065,2018-12-30,2019-01-05,SUL,RIO GRANDE DO SUL,GNV,16,R$/m3,3.402,0.103,...,3.499,1.296,0.030,2.106,0.249,1.8775,2.3724,0.118,12,2018
103066,103066,2018-12-30,2019-01-05,SUL,SANTA CATARINA,GNV,15,R$/m3,2.944,0.124,...,3.199,0.67,0.042,2.274,0.283,1.8738,2.274,0.124,12,2018
103067,103067,2018-12-30,2019-01-05,SUDESTE,SAO PAULO,GNV,41,R$/m3,2.353,0.451,...,3.429,0.467,0.192,1.886,0.25,1.64,2.332,0.133,12,2018
103068,103068,2018-12-30,2019-01-05,NORDESTE,SERGIPE,GNV,2,R$/m3,3.649,0.000,...,3.649,-,0.000,-,-,-,-,-,12,2018

In [163]:
grupos = data.groupby('PRODUTO')
grupos

In [ ]:
# 7.1 EXERCICIO
grupos['REGIÃO'].value_counts().to_frame().reset_index()

             PRODUTO        REGIÃO  count
0   ETANOL HIDRATADO      NORDESTE   7064
1   ETANOL HIDRATADO         NORTE   5404
2   ETANOL HIDRATADO  CENTRO OESTE   3140
3   ETANOL HIDRATADO       SUDESTE   3140
4   ETANOL HIDRATADO           SUL   2354
5     GASOLINA COMUM      NORDESTE   7065
6     GASOLINA COMUM         NORTE   5494
7     GASOLINA COMUM  CENTRO OESTE   3140
8     GASOLINA COMUM       SUDESTE   3140
9     GASOLINA COMUM           SUL   2355
10               GLP      NORDESTE   7061
11               GLP         NORTE   5494
12               GLP       SUDESTE   3139
13               GLP  CENTRO OESTE   3137
14               GLP           SUL   2355
15               GNV      NORDESTE   5575
16               GNV       SUDESTE   3136
17               GNV           SUL   2343
18               GNV  CENTRO OESTE   1523
19               GNV         NORTE    457
20       ÓLEO DIESEL      NORDESTE   7065
21       ÓLEO DIESEL         NORTE   5494
22       ÓLEO DIESEL  CENTRO OESTE   3140
23       ÓLEO DIESEL       SUDESTE   3140
24       ÓLEO DIESEL           SUL   2355
25   ÓLEO DIESEL S10      NORDESTE   3039
26   ÓLEO DIESEL S10         NORTE   2359
27   ÓLEO DIESEL S10       SUDESTE   1352
28   ÓLEO DIESEL S10  CENTRO OESTE   1349
29   ÓLEO DIESEL S10           SUL   1014

In [ ]:
# 7.2 EXERCICIO
gasolina_sp = data.query('PRODUTO == "GASOLINA COMUM" and ESTADO == "SAO PAULO" and ANO == 2018')
gasolina_sp.describe()

,Unnamed: 0,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,COEF DE VARIAÇÃO REVENDA,MÊS,ANO
count,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.000000,52.0
mean,99196.096154,1610.211538,4.202769,0.175500,3.671500,4.975750,0.041750,6.615385,2018.0
std,2279.595314,213.627432,0.180672,0.017955,0.163808,0.211198,0.003965,3.470627,0.0
min,95351.000000,102.000000,3.970000,0.150000,3.369000,4.499000,0.034000,1.000000,2018.0
25%,97281.250000,1639.000000,4.008000,0.159750,3.499000,4.899000,0.039000,4.000000,2018.0
50%,99196.500000,1642.000000,4.202000,0.173000,3.679000,4.999000,0.040000,7.000000,2018.0
75%,101116.250000,1644.000000,4.336250,0.189000,3.784000,5.099000,0.044000,9.250000,2018.0
max,103025.000000,1649.000000,4.512000,0.216000,3.969000,5.299000,0.051000,12.000000,2018.0

In [166]:
gasolina_sp.shape

(52, 21)

In [ ]:
# 7.3 EXERCICIO
gasolinaAndEtanol_sp = data.query('(PRODUTO == "GASOLINA COMUM" or PRODUTO == "ETANOL HIDRATADO") and ESTADO == "SAO PAULO" and ANO == 2018')
gasolinaAndEtanol_sp.describe()

,Unnamed: 0,NÚMERO DE POSTOS PESQUISADOS,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,COEF DE VARIAÇÃO REVENDA,MÊS,ANO
count,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.000000,104.0
mean,99155.605769,1620.557692,3.457337,0.167760,2.958663,4.318058,0.050663,6.615385,2018.0
std,2268.863632,213.422086,0.766239,0.021546,0.736680,0.681788,0.012328,3.453738,0.0
min,95270.000000,102.000000,2.393000,0.133000,1.895000,3.199000,0.034000,1.000000,2018.0
25%,97220.500000,1641.000000,2.726000,0.150750,2.259000,3.699000,0.040000,4.000000,2018.0
50%,99156.000000,1647.000000,3.431000,0.165000,2.919000,4.244500,0.048500,7.000000,2018.0
75%,101096.000000,1662.000000,4.199000,0.186250,3.679000,4.999000,0.055250,9.250000,2018.0
max,103025.000000,1665.000000,4.512000,0.216000,3.969000,5.299000,0.086000,12.000000,2018.0