In [1]:
import pandas as pd

dados = pd.read_csv('venda-de-carros.csv')
print(dados.head())

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00

In [2]:
print(dados.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fabricante     10 non-null     object
 1   Cor            10 non-null     object
 2   Quilometragem  10 non-null     int64
 3   Portas         10 non-null     int64
 4   Preco          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes
None

In [3]:
df = pd.DataFrame({
    'Personagem': ['Luke', 'Leia', 'Han'],
    'Idade': [19, 19, 32]
})
print(df)

  Personagem  Idade
0       Luke     19
1       Leia     19
2        Han     32

In [4]:

df.columns = ['Nome', 'Anos']

In [5]:
serie = pd.Series([100, 200, 300], index=['a', 'b', 'c'], name='Valores')
print(serie)

a    100
b    200
c    300
Name: Valores, dtype: int64

In [6]:
df['Nova_Coluna'] = df['Anos'] * 2
print(df)

   Nome  Anos  Nova_Coluna
0  Luke    19           38
1  Leia    19           38
2   Han    32           64

In [ ]:
print(df.iloc[0])        
print(df.iloc[0, 1])     
print(df.loc[0])

Nome           Luke
Anos             19
Nova_Coluna      38
Name: 0, dtype: object
19
Nome           Luke
Anos             19
Nova_Coluna      38
Name: 0, dtype: object

In [8]:
del df['Nova_Coluna']
print(df)

   Nome  Anos
0  Luke    19
1  Leia    19
2   Han    32

In [9]:

filtro = df.query('Anos > 20').reset_index(drop=True)
print(filtro)

  Nome  Anos
0  Han    32

In [10]:
df.dropna(inplace=True)   
df.fillna(0, inplace=True)  
print(df)

   Nome  Anos
0  Luke    19
1  Leia    19
2   Han    32

In [11]:
print(df.describe())
print("Média:", df['Anos'].mean())
print("Desvio padrão:", df['Anos'].std())

            Anos
count   3.000000
mean   23.333333
std     7.505553
min    19.000000
25%    19.000000
50%    19.000000
75%    25.500000
max    32.000000
Média: 23.333333333333332
Desvio padrão: 7.505553499465135

In [12]:
print(df['Anos'].value_counts())

Anos
19    2
32    1
Name: count, dtype: int64

In [13]:
nova_df = serie.to_frame()
print(nova_df)

   Valores
a      100
b      200
c      300

In [14]:

carros = pd.DataFrame({
    'Marca': ['Ford', 'Chevrolet', 'Ford', 'Volkswagen'],
    'Ano': [2012, 2015, 2012, 2018]
})

print(carros['Marca'].unique())

['Ford' 'Chevrolet' 'Volkswagen']

In [15]:

filtro = carros.query('Ano > 2012').reset_index(drop=True)
print(filtro)

        Marca   Ano
0   Chevrolet  2015
1  Volkswagen  2018

In [16]:
filtro = carros[carros['Marca'] == 'Ford']
print(filtro)

  Marca   Ano
0  Ford  2012
2  Ford  2012

In [17]:
marcas_desejadas = ['Ford', 'Volkswagen']
filtro_lista = carros[carros['Marca'].isin(marcas_desejadas)]
print(filtro_lista)

        Marca   Ano
0        Ford  2012
2        Ford  2012
3  Volkswagen  2018

In [18]:

exemplo = pd.DataFrame({
    'Nome': ['A', 'B', None],
    'Idade': [25, None, 30]
})


print(exemplo.dropna())


print(exemplo.fillna(0))

  Nome  Idade
0    A   25.0
  Nome  Idade
0    A   25.0
1    B    0.0
2    0   30.0

In [ ]:
print(carros.describe())

               Ano
count     4.000000
mean   2014.250000
std       2.872281
min    2012.000000
25%    2012.000000
50%    2013.500000
75%    2015.750000
max    2018.000000

In [20]:

carros['É_Ford'] = carros['Marca'] == 'Ford'
print(carros)

        Marca   Ano  É_Ford
0        Ford  2012    True
1   Chevrolet  2015   False
2        Ford  2012    True
3  Volkswagen  2018   False

In [21]:
print(carros['Marca'].value_counts())

Marca
Ford          2
Chevrolet     1
Volkswagen    1
Name: count, dtype: int64

In [22]:
contagem_df = carros['Marca'].value_counts().to_frame()
print(contagem_df)

            count
Marca
Ford            2
Chevrolet       1
Volkswagen      1