In [108]:
import pandas as pd

In [109]:
df = pd.DataFrame({
    'Nome':['Cem Anos de Solidão','Dom Casmurro','A Revolução dos Bichos'],
    'Autor':['Gabriel García Márquez','Nicolas Fernanades Maia','Gabriel Rodolfo'],
    'Editora':['Arqueiro','Rocco','Indio'],
    'Data de lançamento':['1967-05-30','1899-01-01','1945-08-17'],
    'ISBN':['9788535914849','9788508108512','9788535914840'],
    })
df

,Nome,Autor,Editora,Data de lançamento,ISBN
0,Cem Anos de Solidão,Gabriel García Márquez,Arqueiro,1967-05-30,9788535914849
1,Dom Casmurro,Nicolas Fernanades Maia,Rocco,1899-01-01,9788508108512
2,A Revolução dos Bichos,Gabriel Rodolfo,Indio,1945-08-17,9788535914840

In [110]:
df_estoque = pd.DataFrame({
    'ISBN':['9788535914849','9788508108512','9788535914840'],
    'Quantidade': ['10','5','8'],
    'Data de Chegada':['2023-03-12','2023-04-01','2023-05-15'],
    'Nome do Comprador':['Biblioteca Central','Secretaria de Cultura','Biblioteca Central'],
})
df_estoque

            ISBN Quantidade Data de Chegada      Nome do Comprador
0  9788535914849         10      2023-03-12     Biblioteca Central
1  9788508108512          5      2023-04-01  Secretaria de Cultura
2  9788535914840          8      2023-05-15     Biblioteca Central

In [111]:
tabela_junta = df_estoque.merge(df)
tabela_junta

,ISBN,Quantidade,Data de Chegada,Nome do Comprador,Nome,Autor,Editora,Data de lançamento
0,9788535914849,10,2023-03-12,Biblioteca Central,Cem Anos de Solidão,Gabriel García Márquez,Arqueiro,1967-05-30
1,9788508108512,5,2023-04-01,Secretaria de Cultura,Dom Casmurro,Nicolas Fernanades Maia,Rocco,1899-01-01
2,9788535914840,8,2023-05-15,Biblioteca Central,A Revolução dos Bichos,Gabriel Rodolfo,Indio,1945-08-17

In [112]:
colunas = ['Nome','Autor','Quantidade','Nome do Comprador']
nova_tabela = tabela_junta[colunas]
nova_tabela

,Nome,Autor,Quantidade,Nome do Comprador
0,Cem Anos de Solidão,Gabriel García Márquez,10,Biblioteca Central
1,Dom Casmurro,Nicolas Fernanades Maia,5,Secretaria de Cultura
2,A Revolução dos Bichos,Gabriel Rodolfo,8,Biblioteca Central

In [113]:
tabela_junta.columns

Index(['ISBN', 'Quantidade', 'Data de Chegada', 'Nome do Comprador', 'Nome',
       'Autor', 'Editora', 'Data de lançamento'],
      dtype='object')

In [114]:
nova_tabela.to_csv

<bound method NDFrame.to_csv of                      Nome                    Autor Quantidade  \
0     Cem Anos de Solidão   Gabriel García Márquez         10
1            Dom Casmurro  Nicolas Fernanades Maia          5
2  A Revolução dos Bichos          Gabriel Rodolfo          8

       Nome do Comprador
0     Biblioteca Central
1  Secretaria de Cultura
2     Biblioteca Central  >