In [8]:
# Importe o pandas
import pandas as pd

In [9]:
# Crie uma Série com 3 estados diferentes
estados = pd.Series(['Minas Gerais', 'Goías', 'São Paulo'])
estados

0    Minas Gerais
1           Goías
2       São Paulo
dtype: object

In [10]:
# Visualize os dados criados na Série
estados

0    Minas Gerais
1           Goías
2       São Paulo
dtype: object

In [11]:
# Crie uma Série com 3 tipos de fabricantes de carro
fabricante = pd.Series(['Honda', 'Porshe', 'Mercedes'])
fabricante

0       Honda
1      Porshe
2    Mercedes
dtype: object

In [12]:
# Crie um DataFrame combinando as duas Séries
estados = pd.Series(['Minas Gerais', 'Goías', 'São Paulo'], index=['Estado 1', 'Estado 2', 'Estado 3'], name='Estados')
fabricante = pd.Series(['Honda', 'Porshe', 'Mercedes'], index=['Carro 1', 'Carro 2', 'Carro 3'], name='Carros')
series = pd.concat([estados, fabricante], axis=1)
series

               Estados    Carros
Estado 1  Minas Gerais       NaN
Estado 2         Goías       NaN
Estado 3     São Paulo       NaN
Carro 1            NaN     Honda
Carro 2            NaN    Porshe
Carro 3            NaN  Mercedes

In [13]:
# Importe o csv "venda-de-carros.csv" em visualize o DataFrame
dados = pd.read_csv(r'/home/youx/youxlab-treino-git/aulas_dados/datasets/venda-de-carros.csv')
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fabricante     10 non-null     object
 1   Cor            10 non-null     object
 2   Quilometragem  10 non-null     int64
 3   Portas         10 non-null     int64
 4   Preco          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [14]:
# Verifique os diferentes tipos de dados do DataFrame
type(dados)
dados.shape

(10, 5)

In [15]:
# Verifique as informações estatísticas do DataFrame usando .describe()
dados.describe()

       Quilometragem     Portas
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [16]:
# Liste mais informações sobre o DataFrame usando a função info()
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fabricante     10 non-null     object
 1   Cor            10 non-null     object
 2   Quilometragem  10 non-null     int64
 3   Portas         10 non-null     int64
 4   Preco          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [17]:
# Liste o nome de todas as colunas do DataFrame
dados.columns

Index(['Fabricante', 'Cor', 'Quilometragem', 'Portas', 'Preco'], dtype='object')

In [18]:
# Exiba apenas as 5 primeiras linhas do DataFrame
dados.head()

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00

In [19]:
# Exiba as 5 últimas linhas do DataFrame
dados.tail(5)

  Fabricante     Cor  Quilometragem  Portas         Preco
5     Toyota   Verde          99213       4  R$ 14,500.00
6      Honda    Azul          45698       4  R$ 17,500.00
7      Honda    Azul          54738       4  R$ 27,000.00
8     Toyota  Branco          60000       4  R$ 26,250.00
9     Nissan  Branco          31600       4  R$ 19,700.00

In [20]:
# Utilize .loc para selecionar os dados da linha de índice 3 do DataFrame
dados.loc[3]

Fabricante                 BMW
Cor                      Preto
Quilometragem            11179
Portas                       5
Preco            R$ 122,000.00
Name: 3, dtype: object

In [21]:
# Utilize .iloc para exibir os dados que estão na 5° posição do DataFrame
dados.iloc[5]

Fabricante             Toyota
Cor                     Verde
Quilometragem           99213
Portas                      4
Preco            R$ 14,500.00
Name: 5, dtype: object

In [22]:
# Selecione a coluna Quilometragem
dados['Quilometragem']

0    150043
1     87899
2     32549
3     11179
4    213095
5     99213
6     45698
7     54738
8     60000
9     31600
Name: Quilometragem, dtype: int64

In [23]:
# Calcule a média da coluna Quilometragem
media = dados['Quilometragem'].mean()
media

np.float64(78601.4)

In [30]:
# Liste os carros que possuem uma quilometragem maior que 100.000
dadosquilometragem = dados['Quilometragem'] > 100000
dados[dadosquilometragem]

  Fabricante     Cor  Quilometragem  Portas         Preco
0     Toyota  Branco         150043       4  R$ 24,000.00
4     Nissan  Branco         213095       4  R$ 13,500.00

In [31]:
# Agrupe as colunas pelo fabricante e calcule a média das outras colunas
df = pd.DataFrame(dados)
df_agrupado = df.groupby('Fabricante')[[]].mean()
df_agrupado

Empty DataFrame
Columns: []
Index: [BMW, Honda, Nissan, Toyota]