In [22]:
import pandas as pd
personagens_df = pd.DataFrame({
    'nome': ['Luke Skywalker', 'Yoda', 'Palpatine', 'Garcia', 'Fabas'],
    'idade': [16, 1000, 70, 18, 17],
    'peso': [70.5, 15.2, 60.1, 62.0, 105.0],
    'eh jedi': [True, True, True, False, False]
})

In [23]:
personagens_df

             nome  idade   peso  eh jedi
0  Luke Skywalker     16   70.5     True
1            Yoda   1000   15.2     True
2       Palpatine     70   60.1     True
3          Garcia     18   62.0    False
4           Fabas     17  105.0    False

In [24]:
personagens_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   nome     5 non-null      object
 1   idade    5 non-null      int64
 2   peso     5 non-null      float64
 3   eh jedi  5 non-null      bool
dtypes: bool(1), float64(1), int64(1), object(1)
memory usage: 253.0+ bytes

In [25]:
personagens_df.columns

Index(['nome', 'idade', 'peso', 'eh jedi'], dtype='object')

In [26]:
type(personagens_df.columns)

pandas.core.indexes.base.Index

In [27]:
list(personagens_df.columns)

['nome', 'idade', 'peso', 'eh jedi']