In [1]:
# Importe o pandas
import pandas as pd

In [2]:
# Crie uma Série com 3 estados diferentes
estados = pd.Series(['São Paulo', 'Minas Gerais', 'Rio de Janeiro'])

In [3]:
# Visualize os dados criados na Série
print(estados)

0         São Paulo
1      Minas Gerais
2    Rio de Janeiro
dtype: object

In [4]:
# Crie uma Série com 3 tipos de fabricantes de carro
fabricantes = pd.Series(['Toyota', 'Ford', 'Chevrolet'])

In [6]:
# Crie um DataFrame combinando as duas Séries
dados = pd.DataFrame({
    'Estado': estados,
    'Fabricante': fabricantes})

In [7]:
# Importe o csv "venda-de-carros.csv" em visualize o DataFrame
dataF = pd.read_csv(r"/home/youx/youxlab-treino-git/curso_dados/venda-de-carros.csv")

In [8]:
# Verifique os diferentes tipos de dados do DataFrame
print(dataF.dtypes)

Fabricante       object
Cor              object
Quilometragem     int64
Portas            int64
Preco            object
dtype: object

In [9]:
# Verifique as informações estatísticas do DataFrame usando .describe()
print(dataF.describe())

       Quilometragem     Portas
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [10]:
# Liste mais informações sobre o DataFrame usando a função info()
print(dataF.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fabricante     10 non-null     object
 1   Cor            10 non-null     object
 2   Quilometragem  10 non-null     int64
 3   Portas         10 non-null     int64
 4   Preco          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes
None

In [11]:
# Liste o nome de todas as colunas do DataFrame
print(dataF.columns)

Index(['Fabricante', 'Cor', 'Quilometragem', 'Portas', 'Preco'], dtype='object')

In [12]:
# Exiba apenas as 5 primeiras linhas do DataFrame
print(dataF.head(5))

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00

In [13]:
# Exiba as 5 últimas linhas do DataFrame
print(dataF.tail())

  Fabricante     Cor  Quilometragem  Portas         Preco
5     Toyota   Verde          99213       4  R$ 14,500.00
6      Honda    Azul          45698       4  R$ 17,500.00
7      Honda    Azul          54738       4  R$ 27,000.00
8     Toyota  Branco          60000       4  R$ 26,250.00
9     Nissan  Branco          31600       4  R$ 19,700.00

In [14]:
# Utilize .loc para selecionar os dados da linha de índice 3 do DataFrame
print(dataF.loc[3])

Fabricante                 BMW
Cor                      Preto
Quilometragem            11179
Portas                       5
Preco            R$ 122,000.00
Name: 3, dtype: object

In [15]:
# Utilize .iloc para exibir os dados que estão na 5° posição do DataFrame
print(dataF.iloc[4])

Fabricante             Nissan
Cor                    Branco
Quilometragem          213095
Portas                      4
Preco            R$ 13,500.00
Name: 4, dtype: object

In [16]:
# Selecione a coluna Quilometragem
print(dataF['Quilometragem'])

0    150043
1     87899
2     32549
3     11179
4    213095
5     99213
6     45698
7     54738
8     60000
9     31600
Name: Quilometragem, dtype: int64

In [17]:
# Calcule a média da coluna Quilometragem
print(dataF['Quilometragem'].mean())

78601.4

In [18]:
# Liste os carros que possuem uma quilometragem maior que 100.000
print(dataF[dataF['Quilometragem'] > 100000])

  Fabricante     Cor  Quilometragem  Portas         Preco
0     Toyota  Branco         150043       4  R$ 24,000.00
4     Nissan  Branco         213095       4  R$ 13,500.00

In [19]:
# Agrupe as colunas pelo fabricante e calcule a média das outras colunas
print(dataF.groupby('Fabricante').mean(numeric_only=True))

            Quilometragem  Portas
Fabricante
BMW          11179.000000    5.00
Honda        62778.333333    4.00
Nissan      122347.500000    4.00
Toyota       85451.250000    3.75