In [ ]:
import pandas as pd

In [14]:
data = pd.read_csv('/home/youx/youxlab-treino-git/curso_dados/venda-de-carros.csv', sep=',')
data

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00
5     Toyota     Verde          99213       4   R$ 14,500.00
6      Honda      Azul          45698       4   R$ 17,500.00
7      Honda      Azul          54738       4   R$ 27,000.00
8     Toyota    Branco          60000       4   R$ 26,250.00
9     Nissan    Branco          31600       4   R$ 19,700.00

In [22]:
data.info()

<class 'pandas.core.series.Series'>
Index: 1 entries, Nova coluna to Nova coluna
Series name: None
Non-Null Count  Dtype
--------------  -----
1 non-null      object
dtypes: object(1)
memory usage: 124.0+ bytes

In [16]:
type(data)

pandas.core.frame.DataFrame

In [17]:
data.shape

(10, 5)

In [19]:
data.columns

Index(['Fabricante', 'Cor', 'Quilometragem', 'Portas', 'Preco'], dtype='object')

In [20]:
data= pd.Series()

In [21]:
data['Nova coluna']='Testando'
data

Nova coluna    Testando
dtype: object