In [36]:
# Importe o pandas
import pandas as pd

In [37]:
# Crie uma Série com 3 estados diferentes
estados = pd.Series(['MINAS GERAIS' , 'SAO PAULO' , 'RORAIMA'])

In [38]:
# Visualize os dados criados na Série
estados

0    MINAS GERAIS
1       SAO PAULO
2         RORAIMA
dtype: object

In [39]:
# Crie uma Série com 3 tipos de fabricantes de carro
carros = pd.Series(['Chevrolet' , 'FORD' , 'Honda'])

In [54]:
# Crie um DataFrame combinando as duas Séries
teste = pd.concat([carros , estados] , axis=1)
teste

           0             1
0  Chevrolet  MINAS GERAIS
1       FORD     SAO PAULO
2      Honda       RORAIMA

In [41]:
# Importe o csv "venda-de-carros.csv" em visualize o DataFrame
venda_de_carros_csv = pd.read_csv('/home/youx/workspace-git/youxlab-treino-git/curso_dados/exercicios_rodrigo/data.sets/venda-de-carros.csv')

In [42]:
# Verifique os diferentes tipos de dados do DataFrame
venda_de_carros_csv

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00
5     Toyota     Verde          99213       4   R$ 14,500.00
6      Honda      Azul          45698       4   R$ 17,500.00
7      Honda      Azul          54738       4   R$ 27,000.00
8     Toyota    Branco          60000       4   R$ 26,250.00
9     Nissan    Branco          31600       4   R$ 19,700.00

In [43]:
# Verifique as informações estatísticas do DataFrame usando .describe()
venda_de_carros_csv.describe()

       Quilometragem     Portas
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [44]:
# Liste mais informações sobre o DataFrame usando a função info()
venda_de_carros_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fabricante     10 non-null     object
 1   Cor            10 non-null     object
 2   Quilometragem  10 non-null     int64
 3   Portas         10 non-null     int64
 4   Preco          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [45]:
# Liste o nome de todas as colunas do DataFrame
venda_de_carros_csv.columns

Index(['Fabricante', 'Cor', 'Quilometragem', 'Portas', 'Preco'], dtype='object')

In [46]:
# Exiba apenas as 5 primeiras linhas do DataFrame
venda_de_carros_csv.head()

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00

In [47]:
# Exiba as 5 últimas linhas do DataFrame
venda_de_carros_csv.iloc[[-1 , 8 , 7 , 6 , 5]]

  Fabricante     Cor  Quilometragem  Portas         Preco
9     Nissan  Branco          31600       4  R$ 19,700.00
8     Toyota  Branco          60000       4  R$ 26,250.00
7      Honda    Azul          54738       4  R$ 27,000.00
6      Honda    Azul          45698       4  R$ 17,500.00
5     Toyota   Verde          99213       4  R$ 14,500.00

In [48]:
# Utilize .loc para selecionar os dados da linha de índice 3 do DataFrame
venda_de_carros_csv.loc[3]

Fabricante                 BMW
Cor                      Preto
Quilometragem            11179
Portas                       5
Preco            R$ 122,000.00
Name: 3, dtype: object

In [49]:
# Utilize .iloc para exibir os dados que estão na 5° posição do DataFrame
venda_de_carros_csv.iloc[5]

Fabricante             Toyota
Cor                     Verde
Quilometragem           99213
Portas                      4
Preco            R$ 14,500.00
Name: 5, dtype: object

In [55]:
# Selecione a coluna Quilometragem
venda_de_carros_csv['Quilometragem']

0    150043
1     87899
2     32549
3     11179
4    213095
5     99213
6     45698
7     54738
8     60000
9     31600
Name: Quilometragem, dtype: int64

In [56]:
# Calcule a média da coluna Quilometragem
print(venda_de_carros_csv['Quilometragem'].mean())

78601.4

In [52]:
# Liste os carros que possuem uma quilometragem maior que 100.000
selecao_1 = venda_de_carros_csv['Quilometragem'] > 100000
venda_de_carros_csv[selecao_1]

  Fabricante     Cor  Quilometragem  Portas         Preco
0     Toyota  Branco         150043       4  R$ 24,000.00
4     Nissan  Branco         213095       4  R$ 13,500.00

In [73]:
# Agrupe as colunas pelo fabricante e calcule a média das outras colunas
fabricantes = venda_de_carros_csv.groupby('Fabricante')
fabricantes.describe().sort_values('Fabricante', ascending=False)

           Quilometragem                                                   \
                   count           mean            std      min       25%
Fabricante
Toyota               4.0   85451.250000   51015.991325  32549.0  53137.25
Nissan               2.0  122347.500000  128336.345251  31600.0  76973.75
Honda                3.0   62778.333333   22219.728179  45698.0  50218.00
BMW                  1.0   11179.000000            NaN  11179.0  11179.00

                                          Portas                             \
                 50%        75%       max  count  mean  std  min   25%  50%
Fabricante
Toyota       79606.5  111920.50  150043.0    4.0  3.75  0.5  3.0  3.75  4.0
Nissan      122347.5  167721.25  213095.0    2.0  4.00  0.0  4.0  4.00  4.0
Honda        54738.0   71318.50   87899.0    3.0  4.00  0.0  4.0  4.00  4.0
BMW          11179.0   11179.00   11179.0    1.0  5.00  NaN  5.0  5.00  5.0


            75%  max
Fabricante
Toyota      4.0  4.0
Nissan      4.0  4.0
Honda       4.0  4.0
BMW         5.0  5.0