In [6]:
import pandas as pd

In [7]:
estados = pd.Series(['S達o Paulo', 'Minas Gerais', 'Rio Grande Do Sul'], name='estados')

fabricantes = pd.Series(['Toyotta', 'Nissan', 'Ford'], name='fabricantes')

df = pd.DataFrame({
    'Estados': estados,
    'fabricantes': fabricantes
})
print(df)

             Estados fabricantes
0          S達o Paulo     Toyotta
1       Minas Gerais      Nissan
2  Rio Grande Do Sul        Ford

In [8]:
df

             Estados fabricantes
0          S達o Paulo     Toyotta
1       Minas Gerais      Nissan
2  Rio Grande Do Sul        Ford

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Estados      3 non-null      object
 1   fabricantes  3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

In [10]:
data = pd.read_csv('/home/youx/projeto-git-lab/youxlab-treino-git/curso_de_dados/exercicio/venda-de-carros.csv')
data

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00
5     Toyota     Verde          99213       4   R$ 14,500.00
6      Honda      Azul          45698       4   R$ 17,500.00
7      Honda      Azul          54738       4   R$ 27,000.00
8     Toyota    Branco          60000       4   R$ 26,250.00
9     Nissan    Branco          31600       4   R$ 19,700.00

In [11]:
data.info(
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fabricante     10 non-null     object
 1   Cor            10 non-null     object
 2   Quilometragem  10 non-null     int64
 3   Portas         10 non-null     int64
 4   Preco          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [12]:
data.describe()

       Quilometragem     Portas
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [13]:
print(data.columns)

Index(['Fabricante', 'Cor', 'Quilometragem', 'Portas', 'Preco'], dtype='object')

In [14]:
data.head(5)

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00

In [15]:
data.loc[3]

Fabricante                 BMW
Cor                      Preto
Quilometragem            11179
Portas                       5
Preco            R$ 122,000.00
Name: 3, dtype: object

In [16]:
data.iloc[5]

Fabricante             Toyota
Cor                     Verde
Quilometragem           99213
Portas                      4
Preco            R$ 14,500.00
Name: 5, dtype: object

In [17]:
somaKm = 0
soma = []

for quilometro in data.Quilometragem:
    somaKm += quilometro
    soma.append(quilometro)

print(somaKm)
media = somaKm / len(data.Quilometragem)
print(f'A m辿dia da coluna quilometragem 辿 {media}')

786014
A m辿dia da coluna quilometragem 辿 78601.4

In [18]:
data.info(
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fabricante     10 non-null     object
 1   Cor            10 non-null     object
 2   Quilometragem  10 non-null     int64
 3   Portas         10 non-null     int64
 4   Preco          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [19]:
print(len(data.Quilometragem))

10

In [20]:
for valor in data['Preco']:
    valor = valor.replace(',', '.')
    data['Preco'] = valor
print(data)

  Fabricante       Cor  Quilometragem  Portas         Preco
0     Toyota    Branco         150043       4  R$ 19.700.00
1      Honda  Vermelho          87899       4  R$ 19.700.00
2     Toyota      Azul          32549       3  R$ 19.700.00
3        BMW     Preto          11179       5  R$ 19.700.00
4     Nissan    Branco         213095       4  R$ 19.700.00
5     Toyota     Verde          99213       4  R$ 19.700.00
6      Honda      Azul          45698       4  R$ 19.700.00
7      Honda      Azul          54738       4  R$ 19.700.00
8     Toyota    Branco          60000       4  R$ 19.700.00
9     Nissan    Branco          31600       4  R$ 19.700.00

In [21]:
data.loc[:, 'Preco']
for v in data['Preco']:
    v = float()
    print(v)

0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0

In [22]:
data = pd.read_csv('/home/youx/projeto-git-lab/youxlab-treino-git/curso_de_dados/exercicio/venda-de-carros.csv')
data

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00
5     Toyota     Verde          99213       4   R$ 14,500.00
6      Honda      Azul          45698       4   R$ 17,500.00
7      Honda      Azul          54738       4   R$ 27,000.00
8     Toyota    Branco          60000       4   R$ 26,250.00
9     Nissan    Branco          31600       4   R$ 19,700.00

In [26]:
lista = []
for km in data['Quilometragem']:
    lista.append(km)
media = sum(lista) / len(lista)
print(media)

78601.4

In [28]:
selecaom = data['Quilometragem'] > 100000
data[selecaom]

  Fabricante     Cor  Quilometragem  Portas         Preco
0     Toyota  Branco         150043       4  R$ 24,000.00
4     Nissan  Branco         213095       4  R$ 13,500.00

In [29]:
data

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00
5     Toyota     Verde          99213       4   R$ 14,500.00
6      Honda      Azul          45698       4   R$ 17,500.00
7      Honda      Azul          54738       4   R$ 27,000.00
8     Toyota    Branco          60000       4   R$ 26,250.00
9     Nissan    Branco          31600       4   R$ 19,700.00

In [32]:
for pre in data['Preco']:
    vv = pre.replace(',', '.')
print(data)

  Fabricante       Cor  Quilometragem  Portas         Preco
0     Toyota    Branco         150043       4  R$ 19.700.00
1      Honda  Vermelho          87899       4  R$ 19.700.00
2     Toyota      Azul          32549       3  R$ 19.700.00
3        BMW     Preto          11179       5  R$ 19.700.00
4     Nissan    Branco         213095       4  R$ 19.700.00
5     Toyota     Verde          99213       4  R$ 19.700.00
6      Honda      Azul          45698       4  R$ 19.700.00
7      Honda      Azul          54738       4  R$ 19.700.00
8     Toyota    Branco          60000       4  R$ 19.700.00
9     Nissan    Branco          31600       4  R$ 19.700.00

In [33]:
data = pd.read_csv('/home/youx/projeto-git-lab/youxlab-treino-git/curso_de_dados/exercicio/venda-de-carros.csv')
data

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00
5     Toyota     Verde          99213       4   R$ 14,500.00
6      Honda      Azul          45698       4   R$ 17,500.00
7      Honda      Azul          54738       4   R$ 27,000.00
8     Toyota    Branco          60000       4   R$ 26,250.00
9     Nissan    Branco          31600       4   R$ 19,700.00

In [ ]:
fabricantess = []
for fab in data['Fabricante']:
    if fab not in fabricantess:
        fabricantess.append(fab)
fabricantess

In [85]:
dataP = data['Preco']
lista = []
for va in dataP:
    lista.append(va)
lista
listaSem = []
for value in lista:
    listaSe = value.replace('R$', ' ')
    listaSem.append(listaSe)
outra = []
for v in listaSem:
    va = v.replace(',', '.').strip()
    outra.append(va)
aa = []
for l in outra:
    l = l.replace('.', '').strip()
    l = int(l)
    aa.append(l)
media = sum(aa) / len(aa)
media

3164500.0

In [72]:
dadosFabri = data['Fabricante'].value_counts().to_frame().reset_index()
dadosFabri

  Fabricante  count
0     Toyota      4
1      Honda      3
2     Nissan      2
3        BMW      1

In [88]:
media_colunas = data.groupby('Fabricante')['Quilometragem'].mean()
media_colunas

Fabricante
BMW        11179.000000
Honda      62778.333333
Nissan    122347.500000
Toyota     85451.250000
Name: Quilometragem, dtype: float64