In [7]:
import pandas as pd

In [8]:
dados = pd.read_csv("/home/youx/youxlab-treino-git/dadosDiciplina/aula21/venda-de-carros.csv")
dados

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00
5     Toyota     Verde          99213       4   R$ 14,500.00
6      Honda      Azul          45698       4   R$ 17,500.00
7      Honda      Azul          54738       4   R$ 27,000.00
8     Toyota    Branco          60000       4   R$ 26,250.00
9     Nissan    Branco          31600       4   R$ 19,700.00

In [9]:
dados['Quilometragem'].describe()

count        10.000000
mean      78601.400000
std       61983.471735
min       11179.000000
25%       35836.250000
50%       57369.000000
75%       96384.500000
max      213095.000000
Name: Quilometragem, dtype: float64

In [10]:
dados['Quilometragem'].max()

np.int64(213095)

In [11]:
dados ['Fabricante'].value_counts()

Fabricante
Toyota    4
Honda     3
Nissan    2
BMW       1
Name: count, dtype: int64

In [19]:
dados_fabricante = dados ['Fabricante'].value_counts().to_frame().reset_index()
dados_fabricante

  Fabricante  count
0     Toyota      4
1      Honda      3
2     Nissan      2
3        BMW      1