In [9]:
#importe o pandas
import pandas as pd

In [10]:
#crie uma série com 3 estados diferentes
estados= pd.Series(['Rio Grande do Norte', 'São Paulo', 'Minas Gerais'])
estados

0    Rio Grande do Norte
1              São Paulo
2           Minas Gerais
dtype: object

In [11]:
# Visualize os dados criados na Série"
estados

0    Rio Grande do Norte
1              São Paulo
2           Minas Gerais
dtype: object

In [12]:
# Crie uma série com 3 tipos de fabricantes de carro"
carro=pd.Series(['Nissan', 'Toyota','Ferrari'])
carro

0     Nissan
1     Toyota
2    Ferrari
dtype: object

In [13]:
# crie um dataframe combinando as duas séries
serie=pd.DataFrame({'Estado': estados, 'Carro':carro})
serie

                Estado    Carro
0  Rio Grande do Norte   Nissan
1            São Paulo   Toyota
2         Minas Gerais  Ferrari

In [14]:
#importe o csv "venda-de-carros.csv" em visualize o dataframe'
serie= pd.read_csv('venda-de-carros.csv')
print(serie.head())

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00

In [15]:
# verifique os diferentes tipos de dados do dataframe"
serie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fabricante     10 non-null     object
 1   Cor            10 non-null     object
 2   Quilometragem  10 non-null     int64
 3   Portas         10 non-null     int64
 4   Preco          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [16]:
#verifique as informações estatísticas do dataframe usando .describe()
print(serie.describe())

       Quilometragem     Portas
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [17]:
# liste mais informações sobre o dataframe usando a função info()"
print(serie.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fabricante     10 non-null     object
 1   Cor            10 non-null     object
 2   Quilometragem  10 non-null     int64
 3   Portas         10 non-null     int64
 4   Preco          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes
None

In [18]:
#liste mais informações sobre o dataframe usando a função info()"
print(serie.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fabricante     10 non-null     object
 1   Cor            10 non-null     object
 2   Quilometragem  10 non-null     int64
 3   Portas         10 non-null     int64
 4   Preco          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes
None

In [19]:
#liste o nome de todas as colunas do dataframe"
print('Fabricante','Cor', 'Quilometragem', 'Portas', 'Preço')
print(serie.columns)

Fabricante Cor Quilometragem Portas Preço
Index(['Fabricante', 'Cor', 'Quilometragem', 'Portas', 'Preco'], dtype='object')

In [20]:
# exiba apenas as 5 primeiras linhas do dataframe
print(serie.head(5))

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00

In [21]:
#exiba as 5 últimas linhas do dataframe"
print(serie.tail())

  Fabricante     Cor  Quilometragem  Portas         Preco
5     Toyota   Verde          99213       4  R$ 14,500.00
6      Honda    Azul          45698       4  R$ 17,500.00
7      Honda    Azul          54738       4  R$ 27,000.00
8     Toyota  Branco          60000       4  R$ 26,250.00
9     Nissan  Branco          31600       4  R$ 19,700.00

In [ ]:
#utilize .loc para selecionar os dados da linha de índice 3 do dataframe
print(serie.loc[3])

Fabricante                 BMW
Cor                      Preto
Quilometragem            11179
Portas                       5
Preco            R$ 122,000.00
Name: 3, dtype: object

In [ ]:
#utilize .iloc para exibir os dados que estão na 5° posição do dataframe
print(serie.iloc[5])

Fabricante             Toyota
Cor                     Verde
Quilometragem           99213
Portas                      4
Preco            R$ 14,500.00
Name: 5, dtype: object

In [ ]:
#selecione a coluna quilometragem
print(serie["Quilometragem"])

0    150043
1     87899
2     32549
3     11179
4    213095
5     99213
6     45698
7     54738
8     60000
9     31600
Name: Quilometragem, dtype: int64

In [ ]:
#calcule a media da coluna quilometragem
media=serie['Quilometragem'].mean()
media

np.float64(78601.4)

In [29]:
#liste os carros que possuem uma quilometragem maior que 100.000
acima100000 = serie[serie['Quilometragem']>100.000]
print(acima100000)

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00
5     Toyota     Verde          99213       4   R$ 14,500.00
6      Honda      Azul          45698       4   R$ 17,500.00
7      Honda      Azul          54738       4   R$ 27,000.00
8     Toyota    Branco          60000       4   R$ 26,250.00
9     Nissan    Branco          31600       4   R$ 19,700.00

In [34]:
#agrupe as colunas pelo fabricante e calcule a média das outras colunas
mediafabricante= serie.groupby( 'Fabricante').mean(numeric_only=True)
mediafabricante

            Quilometragem  Portas
Fabricante
BMW          11179.000000    5.00
Honda        62778.333333    4.00
Nissan      122347.500000    4.00
Toyota       85451.250000    3.75