In [1]:
import pandas as pd

carros = pd.DataFrame({
    'Fabricante' : ['Toyota', 'Honda', 'Toyota', 'BMW', 'Nissan', 'Toyota', 'Honda'],
    'Cor' : ['Branco', 'Vermelho', 'Azul', 'Preto', 'Branco', 'Verde', 'Azul'],
    'Quilometragem' : ['150043', '87899', '32549', '11179', '213095', '99213', '45698'], 
    'Portas' : ['4', '4', '3', '5', '4', '4', '4'],
    'Preco' : ['R$24,000.00', 'R$25,000.00', 'R$27,000.00', 'R$122,000.00', 'R$13,500.00', 'R$14,500.00', 'R$17,500.00']
})
carros

  Fabricante       Cor Quilometragem Portas         Preco
0     Toyota    Branco        150043      4   R$24,000.00
1      Honda  Vermelho         87899      4   R$25,000.00
2     Toyota      Azul         32549      3   R$27,000.00
3        BMW     Preto         11179      5  R$122,000.00
4     Nissan    Branco        213095      4   R$13,500.00
5     Toyota     Verde         99213      4   R$14,500.00
6      Honda      Azul         45698      4   R$17,500.00

In [2]:
carros['Fabricante']

0    Toyota
1     Honda
2    Toyota
3       BMW
4    Nissan
5    Toyota
6     Honda
Name: Fabricante, dtype: object

In [4]:
dadosFiltrados = carros[carros["Fabricante"] == "Nissan"]
dadosFiltrados

  Fabricante     Cor Quilometragem Portas        Preco
4     Nissan  Branco        213095      4  R$13,500.00

In [ ]:
DadosFiltrados = carros[(carros["Portas"] >= '5' ) & (carros["Cor"] == "Preto")]
DadosFiltrados

  Fabricante    Cor Quilometragem Portas         Preco
3        BMW  Preto         11179      5  R$122,000.00

In [ ]:
dadosFiltrados = carros.query("Portas >= '3' and Cor == 'Azul'")
dadosFiltrados