In [1]:
import pandas as pd

In [2]:
personagens_df = pd.DataFrame({

    'Nome':['Nicolas', 'Maria','Paulo'],
    'Idade':[17, 21,40],
    'Eh homem':[True,False,True]
})

In [3]:
personagens_df

      Nome  Idade  Eh homem
0  Nicolas     17      True
1    Maria     21     False
2    Paulo     40      True

In [4]:
personagens_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Nome      3 non-null      object
 1   Idade     3 non-null      int64
 2   Eh homem  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

In [5]:
personagens_df.columns

Index(['Nome', 'Idade', 'Eh homem'], dtype='object')

In [6]:
list(personagens_df.columns)

['Nome', 'Idade', 'Eh homem']

In [7]:
personagens_df

      Nome  Idade  Eh homem
0  Nicolas     17      True
1    Maria     21     False
2    Paulo     40      True

In [8]:
personagens_df.rename(columns={
    'Nome':'Indentidade',
    'Eh homem':'Homem[S/N]'


},inplace=True)

In [9]:
personagens_df

  Indentidade  Idade  Homem[S/N]
0     Nicolas     17        True
1       Maria     21       False
2       Paulo     40        True