In [5]:
import pandas as pd
dados = pd.read_csv('/home/youx/youxlab-treino-git/aula.ipynb/venda-de-carros (1).csv')
dados

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00
5     Toyota     Verde          99213       4   R$ 14,500.00
6      Honda      Azul          45698       4   R$ 17,500.00
7      Honda      Azul          54738       4   R$ 27,000.00
8     Toyota    Branco          60000       4   R$ 26,250.00
9     Nissan    Branco          31600       4   R$ 19,700.00

In [6]:
# Crie uma Série com 3 estados diferentes
series1 = pd.Series(['Rio de Janeiro', 'Minas Gerais', 'Paraná'])

In [8]:
# Visualize os dados criados na Série
series1

0    Rio de Janeiro
1      Minas Gerais
2            Paraná
dtype: object

In [9]:
# Crie uma Série com 3 tipos de fabricantes de carro
series2 = pd.Series(['Mercedes', 'Bugatti', 'Ferrari'])

In [14]:
# Crie um DataFrame combinando as duas Séries
series1 = pd.Series(['Rio de Janeiro', 'Minas Gerais', 'Paraná'], index=['Estado 1', 'Estado 2', 'Estado 3'], name = 'Estados do Brasil')
series2 = pd.Series(['Mercedes', 'Bugatti', 'Ferrari'], index=['Carro 1', 'Carro 2', 'Carro 3'], name = 'Marcas de Carro')

dados_series = pd.concat([series1, series2], axis=1)
dados_series

         Estados do Brasil Marcas de Carro
Estado 1    Rio de Janeiro             NaN
Estado 2      Minas Gerais             NaN
Estado 3            Paraná             NaN
Carro 1                NaN        Mercedes
Carro 2                NaN         Bugatti
Carro 3                NaN         Ferrari

In [21]:
# Importe o csv "venda-de-carros.csv" em visualize o DataFrame
dados = pd.read_csv('/home/youx/youxlab-treino-git/aula.ipynb/venda-de-carros (1).csv')

pandas.core.frame.DataFrame

In [22]:
# Verifique os diferentes tipos de dados do DataFrame
dados = pd.read_csv('/home/youx/youxlab-treino-git/aula.ipynb/venda-de-carros (1).csv')
type(dados)

pandas.core.frame.DataFrame

In [27]:
# Verifique as informações estatísticas do DataFrame usando .describe()
dados = pd.read_csv('/home/youx/youxlab-treino-git/aula.ipynb/venda-de-carros (1).csv').describe()
dados

       Quilometragem     Portas
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

In [28]:
# Liste mais informações sobre o DataFrame usando a função info()
dados = pd.read_csv('/home/youx/youxlab-treino-git/aula.ipynb/venda-de-carros (1).csv').info()
dados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Fabricante     10 non-null     object
 1   Cor            10 non-null     object
 2   Quilometragem  10 non-null     int64
 3   Portas         10 non-null     int64
 4   Preco          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 528.0+ bytes

In [30]:
# Liste o nome de todas as colunas do DataFrame
dados = pd.read_csv('/home/youx/youxlab-treino-git/aula.ipynb/venda-de-carros (1).csv').columns
dados

Index(['Fabricante', 'Cor', 'Quilometragem', 'Portas', 'Preco'], dtype='object')

In [44]:
# Exiba apenas as 5 primeiras linhas do DataFrame
dados = pd.read_csv('/home/youx/youxlab-treino-git/aula.ipynb/venda-de-carros (1).csv')
dados.head()

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00

In [40]:
# Exiba as 5 últimas linhas do DataFrame
dados = pd.read_csv('/home/youx/youxlab-treino-git/aula.ipynb/venda-de-carros (1).csv')
dados.tail(5)

  Fabricante     Cor  Quilometragem  Portas         Preco
5     Toyota   Verde          99213       4  R$ 14,500.00
6      Honda    Azul          45698       4  R$ 17,500.00
7      Honda    Azul          54738       4  R$ 27,000.00
8     Toyota  Branco          60000       4  R$ 26,250.00
9     Nissan  Branco          31600       4  R$ 19,700.00

In [50]:
# Utilize .loc para selecionar os dados da linha de índice 3 do DataFrame
dados = pd.read_csv('/home/youx/youxlab-treino-git/aula.ipynb/venda-de-carros (1).csv').loc[3]
dados

Fabricante                 BMW
Cor                      Preto
Quilometragem            11179
Portas                       5
Preco            R$ 122,000.00
Name: 3, dtype: object

In [52]:
# Utilize .iloc para exibir os dados que estão na 5° posição do DataFrame
dados = pd.read_csv('/home/youx/youxlab-treino-git/aula.ipynb/venda-de-carros (1).csv').loc[5]
dados

Fabricante             Toyota
Cor                     Verde
Quilometragem           99213
Portas                      4
Preco            R$ 14,500.00
Name: 5, dtype: object

In [54]:
# Selecione a coluna Quilometragem
dados ['Quilometragem']

0    150043
1     87899
2     32549
3     11179
4    213095
5     99213
6     45698
7     54738
8     60000
9     31600
Name: Quilometragem, dtype: int64

In [9]:
# Calcule a média da coluna Quilometragem
print(dados ['Quilometragem'].mean())

78601.4

In [7]:
# Liste os carros que possuem uma quilometragem maior que 100.000
carros_acima_100k = dados[dados['Quilometragem'] > 100000]

print(carros_acima_100k)

  Fabricante     Cor  Quilometragem  Portas         Preco
0     Toyota  Branco         150043       4  R$ 24,000.00
4     Nissan  Branco         213095       4  R$ 13,500.00

In [63]:
# Agrupe as colunas pelo fabricante e calcule a média das outras colunas
media_por_fabricante = dados.groupby('Fabricante').mean(numeric_only=True)

print(media_por_fabricante)

            Quilometragem  Portas
Fabricante
BMW          11179.000000    5.00
Honda        62778.333333    4.00
Nissan      122347.500000    4.00
Toyota       85451.250000    3.75