In [17]:
import pandas as pd
data = pd.read_csv('/home/youx/youxlab-treino-git/aulas_dados/datasets/venda-de-carros.csv', sep=',')
data.head()

  Fabricante       Cor  Quilometragem  Portas          Preco
0     Toyota    Branco         150043       4   R$ 24,000.00
1      Honda  Vermelho          87899       4   R$ 25,000.00
2     Toyota      Azul          32549       3   R$ 27,000.00
3        BMW     Preto          11179       5  R$ 122,000.00
4     Nissan    Branco         213095       4   R$ 13,500.00

In [21]:
#selecionando uma coluna inteira
data['Cor']

0      Branco
1    Vermelho
2        Azul
3       Preto
4      Branco
5       Verde
6        Azul
7        Azul
8      Branco
9      Branco
Name: Cor, dtype: object