In [39]:
import pandas as pd

In [40]:
df = pd.DataFrame({'A':[1,2,3,4],
                   'B':[10,20,30,40],
                   'C':[100,200,300,400]},
index=['Linha 1','Linha 2','Linha 3','Linha 4'])
df

         A   B    C
Linha 1  1  10  100
Linha 2  2  20  200
Linha 3  3  30  300
Linha 4  4  40  400

In [41]:
def nossa_soma(series):
    return series.sum()

In [42]:
df ['SOMA(A,B,C)'] = df.apply(nossa_soma,axis=1)
df

         A   B    C  SOMA(A,B,C)
Linha 1  1  10  100          111
Linha 2  2  20  200          222
Linha 3  3  30  300          333
Linha 4  4  40  400          444

In [44]:
df.loc['Linha 5'] = df.apply(nossa_soma,axis = 0)
df

          A    B     C  SOMA(A,B,C)
Linha 1   1   10   100          111
Linha 2   2   20   200          222
Linha 3   3   30   300          333
Linha 4   4   40   400          444
Linha 5  10  100  1000         1110

In [ ]:
df[['A', 'B', 'C']].apply(lambda series )