In [49]:
import pandas as pd

In [50]:
df = pd.DataFrame({'A':[1,2,3,4],
                   'B':[10,20,30,40],
                   'C':[100,200,300,400]},
index=['Linha 1','Linha 2','Linha 3','Linha 4'])
df

         A   B    C
Linha 1  1  10  100
Linha 2  2  20  200
Linha 3  3  30  300
Linha 4  4  40  400

In [51]:
def nossa_soma(series):
    return series.sum()

In [52]:
df ['SOMA(A,B,C)'] = df.apply(nossa_soma,axis=1)
df

         A   B    C  SOMA(A,B,C)
Linha 1  1  10  100          111
Linha 2  2  20  200          222
Linha 3  3  30  300          333
Linha 4  4  40  400          444

In [53]:
df.loc['Linha 5'] = df.apply(nossa_soma,axis = 0)
df

          A    B     C  SOMA(A,B,C)
Linha 1   1   10   100          111
Linha 2   2   20   200          222
Linha 3   3   30   300          333
Linha 4   4   40   400          444
Linha 5  10  100  1000         1110

In [54]:
df ['MEDIA (A,B,C)'] = df[['A', 'B', 'C']].apply(lambda series: series.mean(),axis= 1 )  
df

          A    B     C  SOMA(A,B,C)  MEDIA (A,B,C)
Linha 1   1   10   100          111           37.0
Linha 2   2   20   200          222           74.0
Linha 3   3   30   300          333          111.0
Linha 4   4   40   400          444          148.0
Linha 5  10  100  1000         1110          370.0

In [55]:
df ['C'].apply(lambda X: X *2 )

Linha 1     200
Linha 2     400
Linha 3     600
Linha 4     800
Linha 5    2000
Name: C, dtype: int64

In [56]:
df ['A * 2'] = df ['A'] * 2
df

          A    B     C  SOMA(A,B,C)  MEDIA (A,B,C)  A * 2
Linha 1   1   10   100          111           37.0      2
Linha 2   2   20   200          222           74.0      4
Linha 3   3   30   300          333          111.0      6
Linha 4   4   40   400          444          148.0      8
Linha 5  10  100  1000         1110          370.0     20

In [57]:
df.applymap(lambda X: X ** 2 )

/tmp/ipykernel_3465/3211218104.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df.applymap(lambda X: X ** 2 )

           A      B        C  SOMA(A,B,C)  MEDIA (A,B,C)  A * 2
Linha 1    1    100    10000        12321         1369.0      4
Linha 2    4    400    40000        49284         5476.0     16
Linha 3    9    900    90000       110889        12321.0     36
Linha 4   16   1600   160000       197136        21904.0     64
Linha 5  100  10000  1000000      1232100       136900.0    400

In [58]:
nomes = pd.Series(['Nicolas','Gabriel','Alice'])
nomes

0    Nicolas
1    Gabriel
2      Alice
dtype: object

In [68]:
nomes = nomes.map(lambda X: X.upper())

In [69]:
nomes

0    NICOLAS
1    GABRIEL
2      ALICE
dtype: object